.wrap-pet {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 1080px;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.title-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-text {
    display: flex;
    flex-direction: column;
}

.title-text p {
    font-size: 16px;
    line-height: 24px;
}

.title-text h3 {
    font-size: 24px;
    line-height: 36px;
}

.card-pet-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media only screen and (max-width: 420px) {
    .wrap-pet {
        padding-top: 40px;
        padding-bottom: 40px;
        width: 90%;
        min-height: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .title-text h3 {
        font-size: 20px;
        line-height: 32px;
    }

    .btn-mobile {
        display: block;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}