.wrap-SmallBanner-left,
.wrap-SmallBanner {
    width: 1080px;
    height: 378px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--text);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.wrap-SmallBanner-left {
    background-color: #FFB775;
}

.rect-8,
.rect-9 {
    width: 782.29px;
    height: 635px;
    top: -230px;
    right: -230px;
    transform: rotate(25.23deg);
    background-color: var(--bgSoft);
    border-radius: 99px;
    position: absolute;
    z-index: 1;
}

.rect-8 {
    top: -230px;
    left: -230px;
    transform: rotate(-25.23deg);
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
}

.rect-2,
.rect-1 {
    width: 787.54px;
    height: 787.54px;
    top: 193.72px;
    transform: rotate(28.25deg);
    background-color: var(--textHard);
    border-radius: 99px;
    position: absolute;
    z-index: 1;   
}

.rect-1 {
    left: -219.49px;
}

.rect-2 {
    top: 193.72px;
    right: -219.49px;
    transform: rotate(-28.25deg);
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
    opacity: 0.3;
}

.banner-logo {
    width: 47%;
    position: relative;
    z-index: 2;
    bottom: -40px;
}

.banner-logo-mobile {
    display: none;
}

.wrap-logo-left {
    width: 48%;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.banner-logo-left {
    width: 120%;
}


@media only screen and (max-width: 420px) {
    .wrap-SmallBanner {
        width: 90%;
        height: 640px;
    }

    .rect-1 {
        top: 484.72px;
    }

    .rect-9 {
        top: -360px;
        right: -156px;
    }

    .banner-logo {
        display: none;
    }

    .banner-logo-mobile {
        display: block;
        width: 125%;
        position: relative;
        z-index: 2;
        bottom: -98px;
        left: -10%;
    }
}