
.text-banner-right,
.text-banner {
    width: 50%;
    float: left;
    margin-top: 80px;
    color: var(--textHard);
    z-index: 3;
    position: relative;
}

.text-banner-leftOn,
.text-banner-right {
    float: right;
    z-index: 3;
    position: relative;
    margin-top: 60px;
    padding-right: 40px;
}

.text-banner-leftOn {
    float: left;
    padding-right: 0px;
    padding-left: 40px;

}

h1 {
    font-size: 60px;
    font-weight: bold;
    line-height: 60px;
    text-transform: capitalize;
    padding-bottom: 10px;
}

.text-banner-leftOn h1,
.text-banner-right h1 {
    font-size: 52px;
    line-height: 60px;
    text-align: right;
    
}

.text-banner-leftOn h1 {
    text-align: left;
}

h3 {
    font-size: 46px;
    font-weight: 600;
    line-height: 68px;
    text-transform: capitalize;
    padding-bottom: 20px;
}

.text-banner-leftOn h3,
.text-banner-right h3 {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    text-transform: capitalize;
    text-align: right;
}

.text-banner-leftOn h3 {
    text-align: left;
}

.text-banner p {
    font-size: 16px;
    line-height: 24px;
    width: 82%;
    padding-bottom: 20px;
}

.text-banner-leftOn p,
.text-banner-right p {
    float: right;
    font-size: 12px;
    line-height: 18px;
    width: 75%;
    font-weight: 500;
    text-align: right;
}

.text-banner-leftOn p {
    text-align: left;
    float: left;
}

.text-banner .wrap-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.text-banner-right .wrap-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


@media only screen and (max-width: 420px) {
    .banner-area {
        width: 100%;
    }

    .text-banner {
        width: 90%;
        margin-top: 40px;
        margin-left: 5%;
        margin-right: 5%;
    }

    h1 {
        font-size: 36px;
        font-weight: 800;
        line-height: 60px;
    }

    h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 38px;
    }

    .text-banner p {
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        width: 100%;
    }

    .text-banner-right {
        padding-right: 0;
    }

    .text-banner-right h1 {
        font-size: 36px;
        line-height: 36px;
        text-align: center;
    }
    
    .text-banner-right h3 {
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        text-transform: capitalize;
        text-align: center;
    }

    .text-banner-right p {
        text-align: center;
    }
}