.container {
    display: block;
    min-height: 100vh;
}

.herro-banner {
    width: 100%;
    height: 695px;
    background-image: var(--bg);
    border-radius: 0 0 40px 40px;
    position: relative;
    overflow: hidden;
}

.rectangle {
    border-radius: 99px;
}

.rectangle-9,
.rectangle-8,
.rectangle-7,
.rectangle-6,
.rectangle-5,
.rectangle-3,
.rectangle-2,
.rectangle-1 {
    width: 635px;
    height: 635px;
    position: absolute;
    z-index: 1;
    top: 390px;
    left: 50%;
    transform: rotate(9.35deg);
    background: var(--text);
}

.rectangle-3,
.rectangle-2 {
    top: 300px;
    left: calc(50% + 62px);
    transform: rotate(25.23deg);
    background: var(--bgHard);
    
}

.rectangle-6,
.rectangle-5,
.rectangle-3 {
    border-radius: 20px;
    width: 67.1px;
    height: 67.1px;
    top: 163px;
    left: 140.6px;
    left: calc(50% - 550px);
    background: var(--bgHard);
}

.rectangle-5 {
    border-radius: 4px;
    width: 14.63px;
    height: 14.63px;
    top: 148px;
    left: 762.19px;
    left: calc(50% + 62px);
}

.rectangle-6 {
    border-radius: 4px;
    width: 27.5px;
    height: 27.5px;
    top: 210.68px;
    left: 728px;
    left: calc(50% + 28px);
}

.rectangle-7 {
    border-radius: 6px;
    width: 21.47px;
    height: 21.47px;
    top: 223.64px;
    left: 727px;
    left: calc(50% + 27px);
    background: var(--text);
    transform: rotate(43deg);
}

.rectangle-8 {
    border-radius: 99px;
    width: 635px;
    height: 635px;
    top: 664px;
    left: 250.33px;
    background: var(--bgHard);
    transform: rotate(56.47deg);
}

.rectangle-9 {
    border-radius: 99px;
    width: 635px;
    height: 635px;
    top: -600px;
    left: -220.33px;
    background: var(--bgHard);
    transform: rotate(-66.47deg);
}

.image-dog {
    height: 693px;
    position: absolute;
    z-index: 2;
    left: 40%;
    bottom: -100px;
}

.banner-area {
    width: 1080px;
    margin: auto;
    position: relative;
    z-index: 3;
}

.wrap-seller {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.seller-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.seller-area .seller-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 31px;
    color: var(--text);
}

.seller-area .seller-title span {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    padding-left: 5px;
}

.wrap-seller .image-brand {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 420px) {
    .header-menu {
        display: none;
    }

    .rectangle-6,
    .rectangle-7 {
        left: calc(50% + 120px);
        top: 205.64px;
    }
    .image-dog {
        height: 380px;
        left: -26%;
        bottom: -42px;
    }

    .rectangle-1 {
        width: 400px;
        height: 400px;
        top: 463px;
        left: 9%;
    }

    .rectangle-2 {
        top: 448px;
        left: calc(15%);
        transform: rotate(25.23deg);
        background: var(--bgHard);
    }

    .mobile-hide {
        display: none;
    }
}