.btn-area-two,
.btn-area {
    min-width: 161px;
    height: 48px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1.5px solid var(--text);
    border-radius: 57px;
    color: var(--text);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
    background-color: transparent;
}

.btn-area-two:hover,
.btn-area:hover {
    transition: .2s;
    opacity: .7;
}

.btn-area-two {
    border: 1.5px solid var(--text);
    border-radius: 57px;
    background: var(--text);
    color: #fff;
}

.btn-area-tree {
    margin-right: 0px;
    padding-right: 0px;
}

.btn-area-tree .btn-text,
.btn-area-two .btn-text,
.btn-area .btn-text {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 0;
    width: auto;
    padding-right: 10px;
}

.btn-area-two .btn-text {
    padding-right: 0;
}


.btn-area-tree .btn-text {
    font-size: 12px;
}


.btn-mobile {
    display: none;
}

@media only screen and (max-width: 420px) {
    .btn-area-tree {
        display: none;
    }

    .btn-area-two, .btn-area {
        min-width: 130px;
    }

    .btn-area-two .btn-text,
    .btn-area .btn-text {
        font-size: 12px;
    }
}