.wrap-header {
    width: 1080px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 4;
}

.header-right,
.header-left {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    float: left;
}

.logo-mobile {
    display: none;
}

.header-right{
    padding-left: 40px;
    width: calc(54%);
}

.header-menu {
    font-size: 16px;
    line-height: 24px;
    color: var(--text);
}

.search-area {
    position: relative;
}

.search-area input {
    width: calc(280px - 45px);
    height: 44px;
    border-radius: 46px;
    background-color: #fff;
    border: none;
    padding-left: 45px;
    color: var(--text);
}

.search-area input:focus {
    outline: none;
}

.search-area img {
    position: absolute;
    z-index: 1;
    left: 15px;
    top: 12px;
}

.btn-join {
    width: 203px;
    height: 44px;
    color: #fff;
    background-color: var(--text);
    border-radius: 57px;
    border: none;
    cursor: pointer;
}

.wrap-flag {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    cursor: pointer;
}

.flag-text {
    color: var(--text);
    text-transform: uppercase;
    padding-left: 5px;
    padding-right: 5px;
}

@media only screen and (max-width: 420px) {
    .wrap-header{ 
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        height: 45px;
    }

    .logo-mobile  {
        display: block;
    }

    .header-left {
        width: 100%;
        height: 45px;
    }

    .header-right {
        display: none;
    }
}
