.wrap-card {
    width: 24%;
    min-height: 365px;
    border-radius: 12px;
    padding: 8px;
    box-shadow: 0px 4px 28px -2px #00000014;
    background-color: #FDFDFD;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.wrap-card-info {
    width: 32%;
}

.wrap-card:hover {
    transition: .3s;
    opacity: .7;
    cursor: pointer;
}

.wrap-card .logo {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.wrap-card .title {
    color: var(--textHard);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}

.wrap-card-info .knowledge {
    background-color: #00A7E7;
    width: 89px;
    height: 20px;
    border-radius: 28px;
    padding: 2px 10px;
    color: #fdfdfd;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrap-card .wrap-gender-age {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #667479;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}


.wrap-card-info .wrap-gender-age {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #242B33;
}

.wrap-card .wrap-gender-age span{
    font-weight: 700;
}

.wrap-gender-age .dot {
    margin-right: 10px;
    margin-left: 10px;
    width: 5px;
    height: 5px;
    background-color: #667479;
    border-radius: 100%;;
    margin-top: 8px;
}

.wrap-card .price {
    color: var(--textHard);
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.wrap-card .product-add {
    height: 34px;
    width: 100%;
    border-radius: 8px;
    background-color: var(--bgHard);
    margin-top: 10px;
    color: var(--textHard);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.wrap-card .product-add .box {
    padding-left: 10px;
    padding-top: 5px;
    width: 25px;
    height: 25px;
}

.wrap-card .product-add .dot {
    margin-right: 12px;
    margin-left: 12px;
    width: 5px;
    height: 5px;
    background-color: var(--textHard);
    border-radius: 100%;;
    margin-top: 13px;
}

.wrap-card .product-add .text-product {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 7px;
}


@media only screen and (max-width: 420px) {
    .wrap-card {
        width: 49%;
        min-height: 317px;
    }

    .wrap-card-info {
        width: 100%;
    }
    
    .wrap-card .title {
        font-size: 14px;
        line-height: 20px;
    }

    .wrap-card .wrap-gender-age {
        flex-direction: column;
    }

    .wrap-gender-age .dot {
        display: none;
    }
}