.wrap-footer {
    width: 100%;
    height: 440px;
    border-radius: 40px 40px 0px 0px;
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
}

.footer-area {
    width: 1080px;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
}
.footer-area .top-area {
    width: 100%;
    height: 136px;
    border-radius: 16px;
    background-color: var(--textHard);
    padding: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-area .top-area h4 {
    width: 40%;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #fdfdfd;
}

.footer-area .top-area .wrap-search {
    width: 700px;
    background-color: #fdfdfd;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-area .top-area .wrap-search input {
    width: calc(508px - 48px);
    height: 48px;
    padding: 14px 28px;
    border: 1px solid #99A2A5;
    border-radius: 8px;
}

.footer-area .top-area .wrap-search input:focus {
    outline: none;
}

.footer-area .top-area .wrap-search button {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    width: 155px;
    height: 48px;
    padding: 14px 28px 10px 28px;
    border-radius: 8px;
    border: none;
    background: #003459;
    color: #fff;
    cursor: pointer;
}

.footer-area .center-area {
    padding: 40px 0;
    border-bottom: 1px solid #CCD1D2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}

.footer-area .center-area .footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 402px;
}

.footer-area .center-area .footer-menu p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;    
}

.footer-area .bottom-area {
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}


.footer-area .bottom-area .copy-right,
.footer-area .bottom-area .wrap-Logo,
.footer-area .bottom-area .wrap-policy {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #667479;
}

.footer-area .bottom-area .wrap-Logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-area .bottom-area .wrap-policy {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.footer-area .bottom-area .wrap-policy .policy {
    margin-left: 20px;
    cursor: pointer;
}

.footer-area .bottom-area .mobile-only {
    display: none;
}

@media only screen and (max-width: 420px) {
    .wrap-footer {
        height: auto;
    }

    .footer-area {
        width: 90%;
        padding-top: 30px;
    }

    .footer-area .top-area {
        height: auto;
        flex-direction: column;
        padding: 15px;
    }

    .footer-area .top-area h4 {
        width: 100%;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
    }

    .footer-area .top-area .wrap-search {
        width: 100%;
        flex-direction: Column;
        margin-top: 20px;
    }

    .footer-area .top-area .wrap-search input {
        width: calc(100%);
        margin-bottom: 10px;
    }

    .footer-area .top-area .wrap-search button {
        width: 100%;
    }

    .footer-area .center-area {
        padding: 30px 0;
        flex-direction: column;
    }
    
    .footer-area .center-area .footer-menu {
        width: 100%;
    }
    
    .footer-area .center-area .sosmed-area {
        width: 200px;
        margin: auto;
        margin-top: 20px;
    }

    .footer-area .bottom-area {
        flex-direction: column;
    }

    .footer-area .bottom-area .copy-right, 
    .footer-area .bottom-area .wrap-Logo, 
    .footer-area .bottom-area .wrap-policy {
        width: 100%;
        text-align: center;
        justify-content: center;
        margin-bottom: 15px;
        font-size: 14px;
    }

    
    .footer-area .bottom-area .copy-right {
        display: none;
    }
    
    .footer-area .bottom-area .mobile-only {
        display: block;
        font-size: 10px;
    }

}