:root {
    --bg: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
    --bgSoft: #FCEED5;
    --bgHard: #F7DBA7;
    --bgBtnSoft: #e2e8f0;
    --text: #003459;
    --textSoft: #242B33;
    --textHard: #002A48;
    --textMoney: #f5b014
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: block;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none; 
    transition: .2s;
}

a:hover {
    opacity: .7;
}

ul, li {list-style: none;}